*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
::selection{background-color: black;color: red;padding: 5px;}
/*
=======  global  ======== 
*/
p{
    font-weight: 300;
}
h3{
    font-weight: 500;
    font-size: 1.3em;
}
body{
    background-color: #f1f1f1;
}
#wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    /* display: none; */
}
.container-quiz,
.container{
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    width: 340px;
    height: 580px;
    background-color: #fff;
    box-shadow:rgb(0 0 0 /10%)  0px 10px 50px ;
    border-radius: 54px 53px;
}
.img-container img{
    width: 100%;
}


/*
 =========    text container  ========
*/
.text-container{
    margin-top: 20px;
    padding: 6px 15px;
    line-height: 31.8px;
}
.btn-container{
    text-align: right;
    position: relative;
}
.text-last{
    margin-top: 12px;
}
.btn-container button{
    display: inline-block;
    width: 140px;
    top:-12px;
    right: -0px;
    position: absolute;
    background-color: rgb(233, 86, 60);
    color: wheat;
    border: none;
    outline: none;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 57px 0px 53px 0;
    transition: .3s ease-in-out;
}
.btn-container button:hover{
    background-color: blueviolet;
}
.btn-container button:active{
    background-color: green;
    transition: 0;
}




/* app rules page */

.app-rules-container{
    display: none;
}


.app-rules-container h3{
    padding: 19px 10px;
    text-align: center;
    border-bottom: 1px solid rgb(221, 207, 207);
}
.app-rules-container ol {
    width: 80%;
    margin: 40px auto;
    padding: 0px 5px;
    line-height: 30px;
}
.app-rules-container ol li{
    margin: 18px 0;
    padding: 0px 0px 0px 16px;
}

.btn-exit-continue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(209, 203, 203); */
}
.btn-exit-continue button{
    border: none;
    outline: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 12px;
    cursor:pointer;
    width: 130px;
    transition: all linear .4s;
}
/* hover btn */
.btn-exit-continue button:hover{
    background-color:blueviolet;
}
/* active btn */
.btn-exit-continue button:active{
    background-color: green;
    transition: all linear .4s;
}
.btn-continue{
    border-radius: 47px 0 46px 0;
}
.btn-exit{
    border-radius: 0 54px 0 47px;
}







/* 
  ======  question container  ===========
*/

.question-container{
    display: none;
}
.question-wraper{
    padding: 0 30px;
}
.question-head {
    
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-contaner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(195, 202, 202);
    /* padding: 2px 4px; */
    border-radius: 4px;
    color: blue;
    padding-left: 4px;
    height: 28px;
    width: 125px;
}
#time-second{
    background-color: rgb(66, 66, 66);
    height: 28px;
    padding: 3px;
    width: 40px;
    text-align: center;
    color: white;
    border-radius: 4px;
}
#time-line{
    position: absolute;
    top:100px;
    border: 2px solid blue;
}
.question-tittle{
    margin: 30px 0;
    font-size: 20px;
    height: 76px;
}


.options-container{
    margin-bottom: 35px;
}
.options-container .option {
    background-color: rgb(225, 233, 233);
    margin-top:  13px;
    border: 1px solid rgb(194, 190, 190);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.option:hover{
    background-color: rgb(179, 182, 189);
}
/* correct ans */
.option.correct{
    background-color: rgb(79, 94, 79);
}
.option.wrong{
    background-color: red;
}
/* disable  */
.option.disable{
    pointer-events: none;
}




/* 
   ===== footer ======
*/
footer{
    margin-top: 60px;
    border-top: 1px solid rgb(187, 187, 180);
    height: 65px;
    display: flex;
    align-items: end;;
}
.footer-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between ;
}
.footer-left{
    padding-left: 25px;
    color: rgb(29, 29, 8);
}
.btn-next{
    border-radius: 54px  0 50px 0; 
    outline: none;
    border:none;
    height: 45px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    background-color: tomato;
    width: 110px;
    letter-spacing: .8px;
    display: none;
}
.btn-next:hover{
    background-color: blue;
    transition: .2s;
}
#pre{
    background-color:tomato; 
    padding: 12px;
    font-size: 25px;
    color: wheat;
    outline: none;
    border: none;
    margin-bottom: -20px;
    border-radius: 0 55px 0 50px ;
    cursor: pointer;
}